[*.cs]

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = none


# CA1822: Member does not access instance data and can be marked as static
dotnet_diagnostic.CA1822.severity = none


# CA1826 Do not use Enumerable methods on indexable collections. Instead use the collection directly. Exclude defaults
dotnet_code_quality.CA1826.exclude_ordefault_methods = true

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none
